* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: .14rem; }

html, body, .box {
  width: 100%;
  height: 100%; }

a {
  color: #000;
  text-decoration: none; }

ul, li, ol {
  list-style: none; }

html {
  font-size: 625%; }

header a, header a:nth-child(2) form, section .list .swiper-slide a {
  display: flex;
  justify-content: center;
  align-items: center; }

.box {
  display: flex;
  flex-direction: column; }

header {
  width: 100%;
  height: .4rem;
  background: #13c5ab;
  color: #fff;
  display: flex;
  padding: .05rem  0; }
  header a {
    flex: 1;
    color: #fff; }
    header a:nth-child(2) {
      flex: 3; }
      header a:nth-child(2) form {
        border-radius: 5px;
        height: 99%;
        background-color: #11a491; }
        header a:nth-child(2) form input {
          outline: 0;
          border: 0;
          background-color: #11a491;
          width: 80%; }
        header a:nth-child(2) form input::-webkit-input-placeholder {
          color: #fff; }
    header a:nth-child(3) {
      flex-direction: column; }
      header a:nth-child(3) span {
        font-size: .1rem; }

footer {
  width: 100%;
  height: .4rem;
  background: blue; }

section {
  background-color: #efeee9;
  width: 100%;
  flex: 1;
  overflow-y: scroll; }
  section .list {
    background-color: #fff;
    padding-bottom: .2rem; }
    section .list .swiper-slide {
      display: flex;
      flex-wrap: wrap; }
      section .list .swiper-slide a {
        padding: .05rem 0;
        flex-direction: column;
        flex-basis: 20%; }
        section .list .swiper-slide a img {
          width: .35rem; }
        section .list .swiper-slide a span {
          color: #666762;
          padding: .05rem 0;
          font-size: .12rem; }
    section .list .swiper-pagination-bullet {
      background: #17caac; }
  section .three {
    margin: .1rem 0;
    background-color: #fff;
    padding: .05rem 1%;
    display: flex; }
    section .three a {
      flex: 1;
      text-align: center;
      font-size: .12rem; }
      section .three a:nth-child(2) {
        border: 1px solid #ccc;
        border-top: 0;
        border-bottom: 0; }
      section .three a p {
        padding: .05rem 0; }
        section .three a p:nth-child(1) {
          font-size: .14rem; }
        section .three a p:nth-child(2) {
          font-size: .1rem;
          color: #666664; }
      section .three a img {
        text-align: center;
        width: .8rem;
        height: .7rem; }
  section .main {
    padding: .08rem 2%;
    background-color: #fff; }
    section .main .mainHead {
      font-size: .16rem;
      padding: .05rem 0;
      color: #333331;
      border-bottom: .01rem solid #f9f9f9; }
    section .main .mainBody {
      border: 1px solid #eee;
      padding: .05rem 0;
      border-left: 0;
      border-right: 0;
      display: flex; }
      section .main .mainBody p {
        flex: 1; }
        section .main .mainBody p img {
          width: 90%; }
      section .main .mainBody dl {
        padding: 0 .05rem;
        flex: 2.5; }
        section .main .mainBody dl dt {
          font-size: .14rem;
          color: #333331; }
        section .main .mainBody dl dd {
          display: flex;
          font-size: .1rem;
          padding: .03rem 0;
          color: #838383;
          justify-content: space-between; }
          section .main .mainBody dl dd span {
            font-size: .1rem; }
            section .main .mainBody dl dd span b {
              color: #26d5aa;
              font-size: .16rem; }

/*# sourceMappingURL=style.css.map */
